# Dependencies
node_modules/

# Database
prisma/dev.db
*.db
*.db-journal

# Environment files
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp